@import "./common/common.less";

.d-alert {
  font-size: 14px;
  position: relative;
  background-color: @LightElectronBlue2;
  color: @ElectronBlue;
  padding: 10px;
  border-radius: 5px;
}

.is-alert-center {
  text-align: center;
}

.d-alert-success {
  background-color: @LightMintLeaf2;
  color: @MintLeaf;
}

.d-alert-info {
  background-color: @LightBrightYarrow2;
  color: @BrightYarrow;
}

.d-alert-danger {
  background-color: @LightChiCong2;
  color: @ChiCong;
}

.d-alert-border {
  border: 1px solid @LightElectronBlue;
}

.d-alert-border_success {
  border: 1px solid @LightMintLeaf;
}

.d-alert-border_info {
  border: 1px solid @LightBrightYarrow;
}

.d-alert-border_danger {
  border: 1px solid @LightChiCong;
}