@import "./common/common.less";

.d-button-group {
    position: relative;
    display: inline-block;
}

.d-button-group>.d-button {
    border-radius: 0;
    z-index: 1;
}

.d-button-group>.d-button-primary,
.d-button-group>.d-button-success,
.d-button-group>.d-button-info,
.d-button-group>.d-button-danger {
    z-index: 2;
}

.d-button-group .d-button:hover,
.d-button-group .d-button:focus {
    z-index: 3;
}

.d-button-group>.d-button:last-child:not(:first-child) {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.d-button-group>.d-button:first-child:not(:last-child) {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.d-button-group .d-button-primary:last-child:not(:first-child),
.d-button-group .d-button-primary:not(:first-child) {
    border-left-color: @LightElectronBlue;
}

.d-button-group .d-button-danger:last-child:not(:first-child),
.d-button-group .d-button-danger:not(:first-child) {
    border-left-color: @LightChiCong;
}

.d-button-group .d-button-info:last-child:not(:first-child),
.d-button-group .d-button-info:not(:first-child) {
    border-left-color: @LightBrightYarrow;
}

.d-button-group .d-button-success:last-child:not(:first-child),
.d-button-group .d-button-success:not(:first-child) {
    border-left-color: @LightMintLeaf;
}

.d-button-group>.d-button-default:not(:first-child) {
    margin-left: -1px;
}