@primaryColor: #1890ff;
@primaryLightColor: lighten(@ElectronBlue, 10%);
@primaryDarkColor: darken(@ElectronBlue, 10%);
@primaryLoopColor: fade(@primaryDarkColor, 30%);

@dangerColor: #f5222d;
@dangerLightColor: lighten(@dangerColor, 10%);
@dangerDarkColor: darken(@dangerColor, 10%);
@dangerLoopColor: fade(@dangerDarkColor, 30%);


@disabledColor: #f5f5f5;
@disabledDarkColor: darken(@disabledColor, 10%);


@MintLeaf: #00b894;
@LightMintLeaf: lighten(@MintLeaf, 5%);
@DarkMintLeaf: darken(@MintLeaf, 10%);
@LoopMintLeaf: fade(@MintLeaf, 30%);

@ElectronBlue: #0984e3;
@LightElectronBlue: lighten(@ElectronBlue, 10%);
@DarkElectronBlue: darken(@ElectronBlue, 10%);
@LoopElectronBlue: fade(@ElectronBlue, 30%);

@ExodusFruit: #6c5ce7;
@LightExodusFruit: lighten(@ExodusFruit, 10%);
@DarkExodusFruit: darken(@ExodusFruit, 10%);
@LoopExodusFruit: fade(@ExodusFruit, 30%);

@BrightYarrow: darken(#fdcb6e, 10%);
@LightBrightYarrow: lighten(@BrightYarrow, 10%);
@DarkBrightYarrow: darken(@BrightYarrow, 10%);
@LoopBrightYarrow: fade(@BrightYarrow, 30%);

@ChiCong: #d63031;
@LightChiCong: lighten(@ChiCong, 10%);
@DarkChiCong: darken(@ChiCong, 10%);
@LoopChiCong: fade(@ChiCong, 30%);